body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    /* Adiciona uma posição relativa para permitir o posicionamento absoluto dos elementos filhos */
}

header {
    height: 45px;
    /* Ajuste a altura conforme necessário */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Garante que o cabeçalho esteja acima do mapa */
}

.navbar-toggler {
    margin-left: 5px;
    /* Adiciona uma pequena margem à esquerda */
    padding: 5px;
    /* Adiciona um pouco de preenchimento ao botão */
}

#regionId {
    text-align: center;
    border: none; /* Remove a borda */
    outline: none; /* Remove o contorno ao focar */
    background-color: transparent; /* Define o fundo como transparente */
    appearance: none; /* Remove estilos padrão do sistema */
    -webkit-appearance: none; /* Remoção de estilos para navegadores WebKit (Chrome, Safari) */
    -moz-appearance: none; /* Remoção de estilos para navegadores Firefox */
}

#map {
    height: 100%;
    width: 100%;
    position: absolute;
    /* Posiciona o mapa absolutamente em relação ao corpo da página */
    top: 0;
    left: 0;
    z-index: 0;
    /* Garante que o mapa esteja no fundo */
    box-sizing: border-box;
    /* Garante que padding e border não afetem as dimensões totais do elemento */
}

.custom-offcanvas {
    width: 50%;
}

#regionContainer {
    position: absolute;
    border-radius: 20px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
}

#voltarButton {
    display: none;
    border-radius: 20px;
    /* position: absolute; */
    top: 0px;
    left: calc(50% + 100px); /* Ajuste a posição do botão ao lado do select */
    z-index: 1001;
}

#configButton {
    display: none;
    border-radius: 20px;
    position: absolute;
    top: 50px;
    left: calc(50% + 78px); /* Ajuste a posição do botão ao lado do select */
    /* transform: translateX(-50%); Remova esta linha */
    z-index: 1001;
}

#ferraButton {
    display: none;
    border-radius: 20px;
    /* position: absolute; */
    top: 45px;
    left: calc(50% - 100px); /* Ajuste a posição do botão ao lado do select */
    /* transform: translateX(-50%); Remova esta linha */
    z-index: 1001;
}

#ferraOptions {
    position: absolute;
    top: 45px;
    left: calc(50% - 100px); /* Ajuste a posição do botão ao lado do select */
    transform: translateX(-50%);
    z-index: 1001;
    display: flex; /* Exibe os botões em uma linha */
    flex-direction: column; /* Define a direção como coluna */
}

#ferraOptions button {
    margin-bottom: 1px; /* Adiciona um espaço entre os botões */
    border-radius: 10px; /* Define um raio de borda menor */
    padding: 2px 5px; /* Ajusta o preenchimento dos botões */
}
